<h1>Log in!</h1>
<form method='POST' action='/' class="login_form">
<div>
  <input type="text" name="username" placeholder="Username">
  </div>
  <div>
   <input type="password" name="password" placeholder="Password">
  </div>
   <div>
   <input class="btn btn-primary" type="submit" value="Login!">
  </div>
</form>

<p>If you don't have an account click <a href="/register">here</a> to make one!</p>

<p><% if @error %>
<%= @error %>
<% end %>
</p>
