<h1>Home Page</h1>
<head>
  <title>PB and JAM</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield|Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <header><h1>PB and JAM</h1></header>
  <form>
    <div>
        <input type="text" name="username" placeholder="Pick a user name!">
    </div>
    <div>
        <input type ="text" name="first_name" placeholder="First name">
    </div>
    <div>
        <input type ="text" name="last_name" placeholder="Last name">
    </div>
    <div>
        <input type="text" name="email" placeholder="Email address" value="">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>

    


    <div>
        <input type="text" name="instrument" placeholder="What is your instrument of choice?" value="">
    </div>

    <div>
        <input type="text" name="style" placeholder="What is your genre of choice?" value="">
    </div>
    <div>
    <textarea name="about" cols="50" rows="5" placeholder="Enter some cool information about yourself!"></textarea>
    </div>
    <div>
      <label>Lastly, upload a profile picture!</label>
        <input type="file" name="picture" accept="image/*">
    <div>
        <input type="submit" value="Create Profile!">
    </div>
  </form>
</body> 

