<head>
  <title>PB and JAM</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield|Droid+Sans' rel='stylesheet' type='text/css'>
</head>

<!-- <div class="main-background"> -->
  <body class="main">
  <h1 class="title">PB &amp;<span class="jam"> JAM</span></h1>

  <h3>Create a profile to start jamming with other talented musicians!</h3>

<div class="registration_form">
  <form action='/register' enctype="multipart/form-data" method='POST'>
  <p>Upload a photo</p><br/>
    <input id="upload_pic" name="file" type="file" />
    <div>
        <input class="feedback-input-register" type="text" name="user[username]" placeholder="Pick a user name!">
    </div>
    <div>
        <input class="feedback-input-register" type ="text" name="user[first_name]" placeholder="First name">
    </div>
    <div>
        <input class="feedback-input-register" type ="text" name="user[last_name]" placeholder="Last name">
    </div>
    <div>
        <input class="feedback-input-register" type="text" name="user[email]" placeholder="Email address" value="">
    </div>
    <div>
        <input class="feedback-input-register" type="password" name="user[password]" placeholder="Password">
    </div>
    <div>
        <input class="feedback-input-register" type="text" name="user[instrument]" placeholder="What is your instrument of choice?" value="">
    </div>
    <div>
        <input class="feedback-input-register" type="text" name="user[style]" placeholder="What is your genre of choice?" value="">
    </div>
    <div>

      <textarea id="about_form" name="user[about]" cols="50" rows="5" placeholder="Enter some cool information about yourself!"></textarea>
    </div>
    <div>
        <input type="submit" value="Create Profile!">
    </div>
  </form>
  </div>
</body>



