<h1>Search Results</h1>

<h1>Results</h1>
<% if @users %>
  <% @users.each do |user| %>
    <p> <a href="/users/<%= user.id %>"> <%= user.username %></a></p>
  <% end %>
<% else %>
  <p>Enter a search term</p>
<% end %>



<h1>Search:</h1>
<form method='get' action='/results' class="login_form">

  <div>
   <input type="text" name="instrument" placeholder="Instrument">
  </div>
  <div>
   <input type="text" name="style" placeholder="Style">
  </div> 
   <div> 
    <input class="btn btn-primary" type="submit" value="Search!">
   </div>

</form>
